.sidebar_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    height: 100vh;
    width: var(--sidebar-width);

    padding: 80px 0 30px 0;

    transition: width 0.3s;

    background-color: var(--main-bg);

    box-shadow: var(--main-box-shadow);
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    text-align: center;
}

.title {
    margin-bottom: 20px;
}

.theme_switcher {
    margin-top: auto;
}
