.item_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	max-width: 150px;
	width: 100%;

	padding: 25px 10px;
	margin: 20px 0;

	box-shadow: var(--main-box-shadow);
	background-color: var(--main-bg);
	border-radius: 20px;
	cursor: pointer;
	text-align: center;
}

.collapsed_item {
	width: fit-content;
	padding: 20px;
}


